@import url(https://fonts.googleapis.com/css?family=Rajdhani:400,600);

body, html {
  font-family: 'Rajdhani', sans-serif;
  width: 100%;
  min-height: 100%;
  margin: 0 0;
  padding: 0 0;
  background-color: #383838;
}

.body-container {
  -webkit-font-smoothing: antialiased;
  color: #9e9e9e;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

