@import url(../fonts/snap/stylesheet.css);

body, html {
  font-family: 'snap.seregular', sans-serif;
  font-size: 15px;
  width: 100%;
  min-height: 100%;
  margin: 0 0;
  padding: 0 0;
  background-color: #383838;
}

.body-container {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  color: #666;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

