@import url(../fonts/snap/stylesheet.css);

body, html {
  font-family: 'snap.seregular', sans-serif;
  font-size: 20px;
  width: 100%;
  min-height: 100%;
  margin: 0 0;
  padding: 0 0;
  background-color: #383838;
}

h2 {
  font-weight: normal;
  font-size: 30px;
}

.body-container {
  line-height: 1.5em;
  color: #666;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

#contents {
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  box-sizing: border-box;
}

#contents.contact {
  color: #999;
}

div#back-link a {
  top: 0;
  left: 0;
  position: absolute;
  font-size: 20px;
  padding: 0.5em;
  padding-left: 1em;
}

#contact-link {
  float: right;
  padding-right: 0.5em;
  margin-top: -0.5em;
}

svg * {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

svg *::selection {
  background: none;
}

svg text {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}
svg text::selection {
    background: text;
}
